# Ignore everything
*

# But not these files...
!.gitignore
!src/
!pom.xml
# Within src directory, track everything
src/**

# Ignore other directories at the root
!/src/**
target/classes/com/whymertech/worldresetondeath/Plugin.class
/target/
